*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* border: 1px solid black; */
}

html {
  font-size: 80%;
  font-weight: 300;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: black;
}

/*
    RESSOURCES 

    0px---600px ( PHONE )
    600px---900px ( TABLET PORTRAIT )
    900px---1200px ( TABLET LANDSCAPE )
    1200px-- 1800px ( NORMAL PC )
    1800px--- +00 ( BIG DESKTOP )

*/
footer {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  height: 10rem;
  background-color: #3b3b3b;
  margin-top: 3rem;
  justify-items: center;
}

footer div {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

footer div > * {
  margin: 0.5rem 0;
}

footer div a {
  color: white;
}

footer div img {
  width: 6rem;
  filter: grayscale(1);
}

footer div img:hover {
  filter: grayscale(0);
}

footer div input {
  padding: 0.6rem;
  outline: none;
}

footer div button {
  padding: 0.7rem 1rem;
  margin-bottom: 1rem;
  color: white;
  background: #d86c07;
  border: 0;
  cursor: pointer;
}

footer div p:not(:last-child) {
  font-size: 1.1rem;
  font-weight: 900;
  color: rgb(199, 199, 199);
}

.index-header {
  background: linear-gradient(90deg, rgba(25, 65, 133, 0.90), rgba(25, 65, 133, 0.90)), url("../img/font.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 75%;
}

.index-header nav {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
}

.index-header nav img.logo {
  width: 11rem;
}

.index-header_container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 55% 45%;
}

.index-header_container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.index-header_container-text > * {
  margin: 1.2rem 1rem;
}

.index-header_container-text h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.index-header_container-text p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.index-header_container-text button {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  border: 0;
  color: white;
  background: linear-gradient(45deg, #c75a02, #d86c07);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.index-header_container-text button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.index-header_container-text button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

@-webkit-keyframes top-bottom {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

@keyframes top-bottom {
  0% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(-0.5rem);
  }
}

/* .index-header_container-text button {
  -webkit-animation-name: top-bottom;
          animation-name: top-bottom;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
} */

.index-header_container-3d {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-header_container-3d img {
  width: 60rem;
}

@-webkit-keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.index-header_container-3d img {
  -webkit-animation-name: scaling;
          animation-name: scaling;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.index-header_bottom {
  width: 90%;
  text-align: right;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 auto;
}

.overview-1-header, .header-2 {
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: 10vh;
  width: 100%;
  background: url("../img/background/abidjan-drawing-background.png") bottom right 10%/40rem, linear-gradient(-90deg, rgba(25, 65, 133, 0.90), rgba(25, 65, 133, 0.90));
  background-repeat: no-repeat;
  padding-top: 2rem;
}

.overview-1-header nav, .header-2 nav {
  width: 80%;
  /* padding: 1rem 0; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 50% 25%;
  justify-content: space-between;
  align-items: center;
}

.overview-1-header nav .nav-logo,
.overview-1-header nav .nav-user,
.overview-1-header nav .nav-btn {
  width: 100%;
}

.overview-1-header nav .nav-user{
  justify-content: space-around;
  font-weight: bold;
}

.overview-1-header nav .nav-user > * :hover{
  transition: all 0.2s;
  border-bottom: 2px solid #d86c07;
}


.overview-1-header nav .nav-logo img, .header-2 nav .nav-logo img {
  width: 10rem;
}

nav>img {
  margin-left: 6rem;
}

.overview-1-header nav .nav-btn, .header-2 nav .nav-btn {
  justify-self: center;
  align-self: center;
}

.overview-1-header nav .nav-btn button, .header-2 nav .nav-btn button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  margin: 0 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1-header nav .nav-btn button:hover, .header-2 nav .nav-btn button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1-header nav .nav-btn button:active, .header-2 nav .nav-btn button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.overview-1-header nav .nav-btn-1, .header-2 nav .nav-btn-1 {
  color: white;
  background: transparent;
  border: 2px solid #d86c07;
}

.overview-1-header nav .nav-btn-2, .header-2 nav .nav-btn-2 {
  color: white;
  background: #d86c07;
  border: 0;
}

.overview-1-header nav .nav-user, .header-2 nav .nav-user {
  display: flex;
  align-items: center;
  position: relative;
}

.menu{
  top: 10%;
  right: 12%;
  position: absolute;
  background-color: white;
  height: 11rem;
  width: 10rem;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
  background-color: rgb(250, 249, 249);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 99999;
  display: grid;
}

.menu a p, .header-2 nav .nav-user .menu a p {
  font-weight: 500;
  color: #194185;
}

.menu a p:hover, .header-2 nav .nav-user .menu a p:hover {
  transform: scale(1.01);
  color: #d86c07;
}

.nav-user > *, .header-2 nav .nav-user > * {
  margin: 0 0.7rem;
}

.user, .header-2 nav .nav-user .user {
  margin-left: 30%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: center;
  align-items: center;
  background: white;
  border-radius: 100px;
  width: 60%;
  cursor: pointer;
}

.overview-1-header nav .nav-user .user img, .header-2 nav .nav-user .user img {
  width: 2.5rem;
  border-radius: 100px;
}

.user p {
  font-weight: 500;
  color: #d86c07;
}

.overview-1-header nav .nav-user .user i, .header-2 nav .nav-user .user i {
  cursor: pointer;
}

.overview-1-header nav .nav-user-history a, .header-2 nav .nav-user-history a, .overview-1-header nav .nav-user-fav a, .header-2 nav .nav-user-fav a {
  color: white;
  font-size: 1.5rem;
}

.overview-1-header nav .nav-user-fav, .header-2 nav .nav-user-fav {
  position: relative;
}

.overview-1-header nav .nav-user-fav div, .header-2 nav .nav-user-fav div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1rem;
  margin-right: -1rem;
  color: white;
  padding: 2px 4px;
  border-radius: 100px;
  background-color: red;
}

.overview-1-header_text {
  width: 80%;
  margin: 0 auto;
  align-self: center;
}

.overview-1-header_text > * {
  margin: 1rem 0;
  color: white;
}

.overview-1-header_text h1 {
  font-size: 3rem;
  width: 50%;
  text-transform: uppercase;
  font-weight: 900;
}

.overview-1-header_text p {
  font-size: 0.9rem;
}

.overview-1 .search {
  width: 80%;
  margin: 1rem auto;
  padding: 2.5rem 0;
  text-align: center;
}

.overview-1 .search form {
  width: 100%;
  margin: 0 auto;
}

.overview-1 .search form > * {
  border: 0;
  outline: none;
  border-radius: 5px;
}

.overview-1 .search form input,
.overview-1 .search form select {
  width: 50%;
  padding: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .search form input::-moz-placeholder, .overview-1 .search form select::-moz-placeholder {
  font-size: 0.8rem;
  opacity: 0.4;
}

.overview-1 .search form input:-ms-input-placeholder, .overview-1 .search form select:-ms-input-placeholder {
  font-size: 0.8rem;
  opacity: 0.4;
}

.overview-1 .search form input::placeholder,
.overview-1 .search form select::placeholder {
  font-size: 0.8rem;
  opacity: 0.4;
}

.overview-1 .search form div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-1 .search form div > * {
  margin: 0 0.5rem;
}

.overview-1 .search form div input {
  border: none;
  outline: none;
}

.overview-1 .search form select {
  font-size: 0.8rem;
  opacity: 0.4;
}

.overview-1 .search form input[type=search]:focus {
  border-bottom: 1.5px solid #d86c07;
}

.overview-1 .search form button {
  padding: 1rem 2rem;
  color: white;
  background-color: rgba(25, 65, 133, 0.90);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .search form button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .search form button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.overview-1 h3 {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.5rem;
}

.overview-1 .container {
  width: 80%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.overview-1 .container .card {
  position: relative;
  height: 18rem;
  width: 40rem;
  background-color: white;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

/* .overview-1 .container .card-img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
} */

.overview-1 .container .card-img img {
  width: 100%;
  height: 100%;
}


.overview-1 .container .card-title p {
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: #0096c7;
}


.overview-1 .container .card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.card-info p{
  margin-bottom: 0.8rem;
}

.card-info > div {
  display: flex;
  align-items: flex-end;
}

.overview-1 .container .card-info span {
  font-weight: 700;
  color: #d86c07;
  font-size: 1.5rem;
}

.overview-1 .container .card-sub {
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 60% 40%;
}

.overview-1 .container .card-sub_info {
  /* display: flex;
  flex-direction: column; */
  justify-content: end;
}

.card-sub_info p {
  color: #194185;
  font-size: 1rem;
}


.overview-1 .container .card-sub_info > * span {
  font-weight: 500;
  color: #d86c07;
}

.overview-1 .container .card-sub_btn {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-1 .container .card-sub_btn button {
  padding: 0.7rem 1rem;
  color: white;
  border: 0;
  background: rgba(25, 65, 133);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .container .card-sub_btn button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .container .card-sub_btn button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.overview-1 .container .card-type {
  position: absolute;
  top: 25%;
  right: 0;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.overview-1 .container .card-type p {
  background: linear-gradient(45deg, rgba(25, 65, 133, 0.9), rgba(0, 150, 199, 0.9));
  color: white;
  padding: 1rem;
}

.overview-1 .pagination {
  width: 70%;
  margin: 0 auto;
  text-align: right;
}

.overview-1 .pagination > * {
  margin: 0 0.7rem;
}

.overview-1 .pagination button {
  padding: 1rem 1.5rem;
  border: 0;
  color: white;
  background: #0096c7;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .pagination button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.overview-1 .pagination button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.login, .signup {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(192, 192, 192);
}

.login .container, .signup .container {
  width: 60rem;
  height: 45rem;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.signup{
  height: 100vh;
}

.login .container-box img, .signup .container-box img {
  margin: 0.7rem 40%;
  width: 7rem;
}

.login .container-box img{
  margin: 3rem 40%;
  width: 7rem;
}

.login .container-box h3, .signup .container-box h3 {
  margin: 0  3rem;
  font-weight: 900;
  font-size: 1.5rem;
}

.login .container-box p, .signup .container-box p {
  text-align: center;
  margin: 0.8rem 0;
  font-size: 0.9rem;
  color: grey;
}

.login .container-box form, .signup .container-box form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem auto;
}

.login .container-box form > *, .signup .container-box form > * {
  margin: 0.2rem 0;
}

.login .container-box form input, .signup .container-box form input,
.login .container-box form button,
.signup .container-box form button {
  padding: 1rem;
  border: 0;
  outline: 0;
}

.login .container-box form input, .signup .container-box form input {
  border-bottom: 2px solid rgba(25, 65, 133, 0.90);
  background: rgba(250, 249, 249, 0.4);
}

.login .container-box form button, .signup .container-box form button {
  margin-top: 2rem;
  color: white;
  border-radius: 100px;
  background-color: rgba(25, 65, 133, 0.90);
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.login .container-box form button:hover, .signup .container-box form button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.login .container-box form button:active, .signup .container-box form button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.login .container-box a, .signup .container-box a {
  color: #0096c7;
}

.login .container-illustration, .signup .container-illustration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(25, 65, 133, 0.781), rgba(25, 65, 133, 0.90)), url("../img/in.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login .container-illustration img, .signup .container-illustration img {
  width: 17rem;
  opacity: 0.9;
}

.login .container-illustration p, .signup .container-illustration p {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.signup .container {
  height: 100%h;
}

.signup .container h3 {
  margin: 0rem 2rem;
}

.signup .container-box form {
  margin-top: 1.5rem;
}

.signup .container-box form input {
  padding: 0.6rem;
  border-bottom: 2px solid rgba(25, 65, 133, 0.90);
}

.signup .container-box form button {
  background-color: rgba(25, 65, 133, 0.90);
}

.signup .container-illustration {
  background: linear-gradient(rgba(25, 65, 133, 0.781), rgba(25, 65, 133, 0.90)), url("../img/co.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.my-announces > * {
  width: 80%;
  margin: 1.5rem auto;
}

.my-announces .add {
  display: flex;
  justify-content: flex-end;
}

.my-announces .add button {
  padding: 1rem;
  color: white;
  background: #25aa6c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.my-announces .add button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.my-announces .add button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.my-announces .title h3 {
  font-size: 1.4rem;
}

.my-announces .list {
  padding: 0.5rem 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.my-announces .list .card {
  width: 80%;
  margin: 1rem auto;
  background-color: white;
  height: 6rem;
  display: grid;
  grid-template-columns: 30% 55% 5%;
  grid-template-rows: 1fr;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.my-announces .list .card .img img {
  width: 100%;
  height: 6rem;
}

.my-announces .list .card .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-announces .list .card .btn .first {
  border: 1px solid #0096c7;
  background: transparent;
  color: #0096c7;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  margin-right: 1rem;
}

.my-announces .list .card .btn .first:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.my-announces .list .card .btn .first:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.my-announces .list .card .btn .second {
  border: 0;
  background: #0096c7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  margin-right: 1rem;
}

.my-announces .list .card .btn .second:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.my-announces .list .card .btn .second:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.my-announces .list .card .info {
  display: flex;
  align-items: center;
  justify-content: start;
}

.my-announces .list .card .info p {
  margin: 1rem;
}

.my-announces .list .card .info p:first-child {
  font-size: 1.1rem;
  color: grey;
  font-weight: 500;
}

.header-2 {
  height: 17vh;
  background: linear-gradient(-90deg, rgb(25, 65, 133), rgb(0, 150, 199));
}

.announce-text {
  width: 80%;
  margin: 2rem auto;
}

.announce-text h3 {
  font-size: 1.5rem;
}

.announce-box {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  height: 30rem;
  width: 60%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.announce-box .img {
  position: relative;
}

.announce-box .img img {
  height: 100%;
  width: 100%;
}

.announce-box .img .visit {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  height: 100%;
  width: 100%;
}

.announce-box .img .visit p {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.announce-box .img .visit button {
  margin: 4rem 0;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background: #0096c7;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-box .img .visit button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-box .img .visit button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.announce-box .info {
  display: grid;
  padding: 2rem;
}

.announce-box .info h4 {
  font-size: 1.2rem;
  color: #0096c7;
}

.announce-box .info p {
  font-weight: 300;
  color: #194185;
}

.announce-box .info span {
  font-weight: 700;
  color: grey;
  margin-right: 0.5rem;
}

.announce-box .info div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.announce-box .info div:last-child i {
  margin-right: 1rem;
}

.announce-box .info div:last-child button {
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: 0;
  background: #25aa6c;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-box .info div:last-child button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-box .info div:last-child button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.announce-box .info div:last-child button i {
  color: white;
  margin: 0;
}

.announce-box .info div:last-child .first {
  margin-right: 1rem;
  color: #25aa6c;
  border: 2px solid #25aa6c;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
}

.announce-signal {
  width: 60%;
  border-radius: 5px;
  margin: 2rem auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(250, 239, 239, 0.5);
  border: 2px solid red;
  padding: 1rem 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.announce-signal p {
  color: red;
  font-weight: 500;
  font-size: 1rem;
}

.announce-signal button {
  padding: 1rem 2rem;
  margin: 0 1.5rem;
  border: 0;
  color: white;
  background: red;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-signal button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-signal button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.announce-reviews {
  width: 60%;
  border-radius: 5px;
  margin: 2rem auto;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.announce-reviews .rating {
  display: flex;
  justify-content: center;
}

.announce-reviews .rating p {
  margin: 1rem 0;
  background-color: #0096c7;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  padding: 4rem;
  width: 20%;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
}

.announce-reviews .list {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;
}

.announce-reviews .list .review {
  width: 80%;
  margin: 0.5rem auto;
  height: 5rem;
  background-color: rgba(228, 228, 228, 0.462745098);
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 5px;
}

.announce-reviews .list .review div {
  display: flex;
  align-items: center;
}

.announce-reviews .list .review div img {
  width: 2rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.announce-reviews .list .review .info p {
  font-weight: 700;
}

.announce-reviews .list .review .message {
  overflow: hidden;
}

.announce-reviews .list .review .message p {
  text-overflow: ellipsis;
}

.announce-reviews .list form {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.announce-reviews .list form > * {
  margin: 0 0.5rem;
  padding: 0.5rem;
  outline: 0;
  border-radius: 5px;
  border: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  font-family: "lato";
}

.announce-reviews .list form > *::-moz-placeholder {
  font-size: 0.7rem;
  color: grey;
}

.announce-reviews .list form > *:-ms-input-placeholder {
  font-size: 0.7rem;
  color: grey;
}

.announce-reviews .list form > *::placeholder {
  font-size: 0.7rem;
  color: grey;
}

.announce-reviews .list form button {
  color: white;
  background: #0096c7;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-reviews .list form button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce-reviews .list form button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.announce .more {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.announce .more button {
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: 0;
  background: #25aa6c;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce .more button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.announce .more button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.visit .title {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.visit .container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 80%;
  margin: 0 auto;
}

.visit .container iframe {
  height: 90%;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.visit .container button {
  margin: 1rem 0;
  padding: 1rem;
  border: 0;
  color: white;
  background: red;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.visit .container button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.visit .container button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.visit .container .first {
  background: #25aa6c;
  margin-right: 1rem;
}

.visit .container div {
  display: flex;
  justify-content: flex-end;
}

.new-announce {
  width: 80%;
  margin: 2rem auto;
}

.new-announce .title {
  padding: 1rem 0;
}

.new-announce .title h3 {
  font-size: 1.5rem;
}

.new-announce .container form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-announce .container form > * {
  margin: 0.5rem 0;
}

.new-announce .container form div {
  display: flex;
  align-items: center;
}

.new-announce .container form div label {
  margin-right: 0.5rem;
}

.new-announce .container form input,
.new-announce .container form textarea,
.new-announce .container form button,
.new-announce .container form select {
  padding: 0.7rem;
  border: 1px solid rgba(128, 128, 128, 0.238);
  outline: none;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.02);
}

.new-announce .container form label {
  font-weight: 700;
  color: #194185;
}

.new-announce .container form button {
  color: white;
  border: none;
  background: #25aa6c;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.new-announce .container form button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.new-announce .container form button:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.close {
  position: absolute;
  top: 5%;
  right: 17%;
}

.close a {
  color: grey;
}

.close i {
  font-size: 1.5rem;
  padding: 1rem 1.2rem;
  background-color: white;
  border-radius: 500px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.close i:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.close i:active {
  transform: scale(0.99);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0);
}

.none {
  opacity: 0;
}

.unactive {
  color: rgb(177, 177, 177);
}

.active-fav {
  color: rgb(255, 200, 0);
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-family: "lato", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=main.css.map */