{% extends "main.html" %}
{% load static %}


{% block title %}
  HelpHackathon | new_hackathon
{% endblock title %} 


{% block script %}  

  <script defer src="{% static 'js/index.js' %}"></script>

{% endblock script %}


{% block content %}
   <main class="new-announce">
      <!-- TITRE -->
      <div class="title">
        <h3>Nouveau hackathon </h3>
      </div>
      <!-- CONTAINER DE LA FORM POUR AJOUTER UNE NOUVELLER ANNONCE -->
      <div class="container">
        <!-- FORMULAIRE -->
        <form action="#" method="POST">
          {% csrf_token %}
          {{form}}
          <input type="submit" name="Poster l'hackathon">
        </form>
      </div>
    </main>

{% endblock content%}