{% extends "main.html" %}
{% load static %}


{% block title %}
  HelpHackathon | list_hackathon
{% endblock title %} 


{% block script %}  

  <script defer src="{% static 'js/index.js' %}"></script>

{% endblock script %}


{% block content %}
<main class="announce">
      <div class="announce-text">
        <h3>Annonce</h3>
      </div>
      <!-- ELEMENT -->
      <div class="announce-box">
        <!-- IMAGE & BOUTON QUI REDIRIGE VERS LA VISTE -->
        <div class="img">
          <img src="{{hackathon.photo.url }}" alt="photo" />
          <!-- <div class="visit">
            <p>Visitez la maison sans vous deplacer</p>
            <a href="#"><button>Visite 360°</button></a>
          </div> -->
        </div>
        <!-- INFORMATIONS RELATIVES A L'ANNONCE -->
        <div class="info">
          <!-- NOM DE L'ANNONCE -->
          <div><h4>{{hackathon.nomEvernement}}</h4></div>
          <!-- DETAILS -->
          <div>
            <p><span>Du : </span>{{hackathon.dateDebut}}  <span>au : </span> {{hackathon.dateFin}}</p> 
          </div>
          <!-- LOCALITE -->
          <div>
              <p><span> Nombre de personne: </span> {{hackathon.nbrParticipants}}</p>
          </div>
          <!-- SUPERFICE -->
          <div>
             <p><span>Emplacement: </span>{{hackathon.emplacement}}</p>
          </div>
          <!-- NOMBRE DE PIECES -->
          <div>
             <p><span>description : </span>{{hackathon.descriptionHack}}</p>
          </div>
          <!-- MEUBLES -->
          <div>
             <p><span>lien du projet : </span>{{hackathon.lienInscription}}</p>
          </div>

          <div>
             <p><span>numero : </span>{{hackathon.numTel}}</p>
          </div>

          <div>
             <p><span>status : </span>{{hackathon.status}}</p>
          </div>
          <!-- PRIX -->
          <div>
             <p><span>publier le: </span>{{hackathon.dateCreation}}</p>
          </div>
          
          <!-- BOUTON POUR APPELER -->
          <div>
            <a href="#"
              ><button>
                ajouter aux favoris
              </button></a
            >
          </div>
        </div>
      </div>
      
    </main>

{% endblock content%}