{% extends "main.html" %}
{% load static %}


{% block title %}
  HelpHackathon | list_hackathon
{% endblock title %} 


{% block script %}  

  <script defer src="{% static 'js/index.js' %}"></script>

{% endblock script %}


{% block content %}
    <main class="overview-1">
      <!-- BARREE DE RECHERHCE ET FILTRE -->
      <section class="search">
        <form method="GET">
          {{ hackathonFiltre.form }}
          <button type="submit">Rechercher</button>
        </form>
      </section>
      <!-- CARDS TITLES -->
      <h3>HACKATHONS</h3>
      <!-- CARD CONTAINER -->
      <section class="container">
        <!-- CARD -->
      {% for hackathon in hackathonlist  %}
        <div class="card">
          <div class="card-img">
            <img src="{{hackathon.photo.url }}" alt="image" />
          </div>
          
          <div class="card-info">

            <p> <span> {{hackathon.nomEvernement}} </span> </p>
            <p><span>Du : </span>{{hackathon.dateDebut}}  <span>au : </span> {{hackathon.dateFin}}</p> 
            <p><span> Nombre de personne: </span> {{hackathon.nbrParticipants}}</p>
            <p><span>Emplacement: </span>{{hackathon.emplacement}}</p>
            <p><span>publier le: </span>{{hackathon.dateCreation}}</p>
            <!-- <p><span>partcicpants: </span>4</p> -->

            <div class="card-sub_btn">
              <a href="{% url 'hackathonDetail' 1 %}"><button>Savoir plus</button></a>
            </div>
          </div>
        </div>
      {% endfor %}
      </section>
      <section class="pagination">
        <!-- <a href="#"
          ><button>
            <i class="fa-solid fa-arrow-left-long"></i> Page 1
          </button></a
        >
        <a href="#"
          ><button>Page 2 <i class="fa-solid fa-arrow-right-long"></i></button
        ></a> -->
        {% for i in paginator.page_range  %}

          <a href="?page={{i}}"><button> page {{i}} </button></a>

        {% endfor %}

      </section>
    </main>

{% endblock content%}