{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- ICON -->
    <link
      rel="shortcut icon"
      href="img/logo-officiel-mapiss-white.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ICONS LINK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS FILE -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >

    <!-- TITLE -->
    <title> HelpHackathon | Bienvenue </title>
    <!-- IMPORT JS FILE -->
    <script defer src="index.js"></script>
  </head>
  <body>
    <!-- INTERFACE DE LA PREMIERE PAGE DE MAPISS -->
    <header class="index-header">
      <!-- NAV DU LOGO -->
      <nav>
        <img
          class="logo"
          src="{% static 'img/logoHepl-8.png' %}"
          alt="logo"
        />
      </nav>
      <!-- SECTION EN DESSOUS DE LA NAV -->
      <div class="index-header_container">
        <div class="index-header_container-text">
          <h1>Tester les compétences </h1>
          <p>
            Créez des produits, exercez des compétences, apprenez des technologies, gagnez des prix et développez votre réseau.
          </p>
          <a href="{% url 'listHackathon' %}"><button>Voir les hackathons</button></a>
        </div>
        <div class="index-header_container-3d">
          <img src="{% static 'img/bg.png' %}" alt="imgHackaton" />
        </div>
      </div>
      <div class="index-header_bottom">
        <p>Copyrigth 2022-2023 HelpHackathon by okm</p>
      </div>
    </header>
  </body>
</html>
