{% extends "mainUser.html" %}
{% load static %}


{% block title %}
  HelpHackathon | Inscription
{% endblock title %} 


{% block content %}
    <main class="signup">
      <div class="container">
        <div class="container-box">
          <img
              src="{% static 'img/logoHepl-8.png' %}"
              alt="logo"
              class="logo"
          />
          <h3>Inscription</h3>
          <form action="{% url 'inscription' %}" method="POST">
            {% csrf_token %}
            <label>Nom</label>
            <input type="texte" name="nom"/>
            <label>Prenoms</label>
            <input type="texte"  name="prenom" />
            <label>E-mail</label>
            <input type="email" name="email" />
            <label>Telephone</label>
            <input type="tel" name="numTéléphone" />
            <label>Mot de passe</label>
            <input type="password" name="password1"/>
            <label>Confirmer Mot de passe</label>
            <input type="password" name="password2"/>
            <button type="submit">S'inscrire</button>
          </form>
          <p>
            Vous avez deja un compte ? <a href="{% url 'connexion' %}">se connecter maintenant</a>
          </p>
        </div>
        <div class="container-illustration">
          <!-- <img src="img/person-1.png" alt="person-1" /> -->
          <!-- <p>Faites nous confiances !</p> -->
        </div>
      </div>
      <!-- <div class="close">
        <a href="#"><i class="fa-solid fa-xmark"></i></a>
      </div> -->
    </main>
{% endblock content%}