{% extends "mainUser.html" %}
{% load static %}


{% block title %}
  HelpHackathon | Connexion
{% endblock title %} 


{% block content %}
    <main class="login">
      <div class="container">
        <div class="container-box">
          <img
              src="{% static 'img/logoHepl-8.png' %}"
              alt="logo"
              class="logo"
          />
          <h3>Connexion</h3>
          <p>Lorem ipsum dolor sit amet consectsdam? Repudi</p>
          <form action="{% url 'connexion' %}" method="POST">
            {% csrf_token %}
            <label>E-mail</label>
            <input type="email" name="email">
            <label>Mot de passe</label>
            <input type="password" name="password">
            <button type="submit">Se connecter</button>
          </form>
          <p>Vous n'avez pas de compte ? <a href="{% url 'inscription' %}">s'inscrire maintenant</a></p>
        </div>
        <div class="container-illustration">
          <!-- <img src="img/person-1.png" alt="person-1"> -->
          <!-- <p>Faites nous confiances !</p> -->
        </div>
      </div>
      <!-- <div class="close">
        <a href="#"><i class="fa-solid fa-xmark"></i></a>
      </div> -->
    </main>
{% endblock content%}