{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- FONT LINK -->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <!-- ICON -->
     <link
          rel="shortcut icon"
          href="img/logo-officiel-mapiss-white.svg"
          type="image/x-icon"
     />
     <link
          href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet"
     />
     <!-- ICONS LINK -->
     <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
     />
     
      {% block script %} {% endblock script %} 
    <script defer src="{% static 'js/index.js' %}"></script>

     <!-- TITRE DE LA PAGE -->
     <title> {% block title %} {% endblock title %} </title>

     <link rel="stylesheet" href="{% static 'css/main.css' %}" >

</head>
<body>
     <header class="overview-1-header">
      <!-- NAV -->
      <nav>
        <div class="nav-logo">
          <a href="{% url 'main' %}">
            <img
              src="{% static 'img/logoHepl-8.png' %}"
              alt="logo"
              class="logo"
          /></a>
        </div>
        <!-- <div class="nav-btn">
          <a href="{% url 'connexion' %}"><button class="nav-btn-1">Connexion</button></a>
          <a href="{% url 'inscription' %}"><button class="nav-btn-2">Inscription</button></a>
        </div> -->
                <!-- SECTION USER -->
        <div class="nav-user">
          <!-- ICON POUR HISTORIQUE -->
          <div class="nav-user-history">
            <a href="{% url 'listHackathon' %}">Hackathons</a>
          </div>

          <div class="nav-user-history">
            <a href="#">Projets</a>
          </div>

          <div class="nav-user-history">
            <a href="{% url 'addHackathon' %}">Organiser un hackathon</a>
          </div>
          <!-- ICON POUR FAVORIS -->
        </div>

        {% if user.is_authenticated %}
        <div class="user">
            <p> {{ user.first_name }} </p>
            <i class="fa-solid fa-angle-down deroulant"></i>
        </div>
        <div class="menu none">
            <!-- LES ANNONCES DU USER -->
            <a href="#"
              ><p><i class="fa-solid fa-gear"></i> Profile</p></a
            >

            <a href="#"
              ><p><i class="fa-solid fa-newspaper"></i> Mes Projets</p></a
            >
            <!-- PARAMETRES DE L'USER -->
            <a href="{% url 'myHackathon' user.id %}"
              ><p><i class="fa-solid fa-gear"></i> Mes Hackathons</p></a
            >

            <!-- SE DECONNECTER -->
            <a href="{% url 'deconnexion' %}"
              ><p style="color: red">
                <i class="fa-solid fa-power-off"></i> Se Deconnecter
              </p></a
            >
          </div>

        {% else %}
          <div class="nav-btn">
            <a href="{% url 'connexion' %}"><button class="nav-btn-1">Connexion</button></a>
            <a href="{% url 'inscription' %}"><button class="nav-btn-2">Inscription</button></a>
          </div>

        {% endif %}
      </nav>
    </header>

    {% block content %} {% endblock content%}

    <footer>
      <div class="contacts">
        <p>Contacts</p>
        <a href="tel:+2250759239686"
          ><i class="fa-solid fa-phone"></i> +225 0759239686</a
        >
        <a href="mailto:ouattarakiboyoumohamed@gamil.com"
          ><i class="fa-solid fa-envelope"></i> ouattarakiboyoumohamed@gamil.com</a
        >
      </div>
      <div class="partenaire">
        <p>Partenaire(s)</p>
        <img src="img/Moov_Africa_logo.png" alt="logo-partenaires" />
      </div>
      <div class="Newletters">
        <p>Newletters</p>
        <form action="#">
          <input placeholder="E-mail" type="email" name="#" />
          <button type="submit">Souscrire</button>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto et
            adipisci praesentium placeat id
          </p>
        </form>
      </div>
    </footer>
</body>
</html>