{% extends "main.html" %}
{% load static %}


{% block title %}
  HelpHackathon | list_hackathon
{% endblock title %} 


{% block script %}  

  <script defer src="{% static 'js/index.js' %}"></script>

{% endblock script %}


{% block content %}
    <main class="my-announces">
      <!-- BOUTON POUR AJOUTER -->
      
      <!-- TITRE "MES ANNONCES" -->
      <div class="title">
        <h3>Mes Hackathons</h3>
      </div>
      <!-- LISTE DES ANNONCES DE L'USER -->
      <div class="list">
        <!-- CARD -->
        <div class="card">
          
        </div>
        <!-- CARD -->
        <div class="card">
            <!-- IMAGE CARD -->
          
        </div>

        <div class="card">
            <!-- IMAGE CARD -->
          
        </div>
        
      </div>
      <div class="add">
        <a href="{% url 'addHackathon' %}"
          ><button>Nouvelle Annonce <i class="fa-solid fa-plus"></i></button
        ></a>
      </div>
    </main>

{% endblock content%}